Задание 1.

In [2]:
from datetime import datetime

In [8]:
the_moscow_times = 'Wednesday, October 2, 2002'
the_moscow_times_datetime = datetime.strptime(the_moscow_times, '%A, %B %d, %Y')
the_moscow_times_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [6]:
the_guardian = 'Friday, 11.10.13'
the_guardian_datetime = datetime.strptime(the_guardian, '%A, %d.%m.%y')
the_guardian_datetime

datetime.datetime(2013, 10, 11, 0, 0)

In [7]:
daily_news = 'Thursday, 18 August 1977'
daily_news_datetime = datetime.strptime(daily_news, '%A, %d %B %Y')
daily_news_datetime

datetime.datetime(1977, 8, 18, 0, 0)

Задание 2.

In [30]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

for date_ in stream:
    if int(date_[5:7]) > 0 and int(date_[5:7]) < 13:
            if int(date_[5:7]) == 1 or int(date_[5:7]) == 3 or int(date_[5:7]) == 5 or int(date_[5:7]) == 7 or int(date_[5:7]) == 8 or int(date_[5:7]) == 10 or int(date_[5:7]) == 12:
                if int(date_[-2:]) > 0 and int(date_[-2:]) < 32:
                    print('True')
                else:
                    print('False')
            elif int(date_[5:7]) == 4 or int(date_[5:7]) == 6 or int(date_[5:7]) == 9 or int(date_[5:7]) == 11:
                if int(date_[-2:]) > 0 and int(date_[-2:]) < 31:
                    print('True')
                else:
                    print('False')
            elif int(date_[5:7]) == 2:
                if int(date_[:4]) % 4 == 0 or (int(date_[:4]) % 100 == 0 and int(date_[:4]) % 400 == 0):
                    if int(date_[-2:]) > 0 and int(date_[-2:]) < 30:
                        print('True')
                    else:
                        print('False')
                else:
                    if int(date_[-2:]) > 0 and int(date_[-2:]) < 29:
                        print('True')
                    else:
                        print('False') 
            else:
                print('False')
    else:
        print('False')

True
False
False

Задание 3.

In [32]:
from datetime import timedelta

In [40]:
def date_range(start_dt, end_dt):
    if start_dt < end_dt:
        current_dt = start_dt
        while current_dt <= end_dt:
            print(datetime.strftime(current_dt, '%Y-%m-%d'))
            current_dt += timedelta(days=1)        
    else:
        return []

In [42]:
start_date = input('Введите начальную дату в формате YYYY-MM-DD: ')
end_date = input('Введите конечную дату в формате YYYY-MM-DD: ')

try:
    start_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_dt = datetime.strptime(end_date, '%Y-%m-%d')
except:
    print('Некорректный формат данных')
    start_date = input('Введите начальную дату в формате YYYY-MM-DD: ')
    end_date = input('Введите конечную дату в формате YYYY-MM-DD: ')

date_range(start_dt, end_dt)

Введите начальную дату в формате YYYY-MM-DD: 5 апреля 2005
Введите конечную дату в формате YYYY-MM-DD: 7 мая 2010
Некорректный формат данных
Введите начальную дату в формате YYYY-MM-DD: 2021-04-09
Введите конечную дату в формате YYYY-MM-DD: 2021-05-06
2021-04-09
2021-04-10
2021-04-11
2021-04-12
2021-04-13
2021-04-14
2021-04-15
2021-04-16
2021-04-17
2021-04-18
2021-04-19
2021-04-20
2021-04-21
2021-04-22
2021-04-23
2021-04-24
2021-04-25
2021-04-26
2021-04-27
2021-04-28
2021-04-29
2021-04-30
2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06

Задание 4.

In [66]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

delete_and_return_last_user(1)

'A101'

1. Ошибка list index out of range означает, что запрошенного индекса нет в списке, скорее всего, потому что длина всего списка меньше или равна данному индексу
2. Данная ошибка возникает из-за того, что в строке return default_list[DEFAULT_USER_COUNT-2] происходит попытка обратиться к элементу списка, индекс которого расчитывается на основании значения глобальной переменной и всегда равен одному и тому же числу, а именно 1, но после второго удаления элементов, длина списка сократится до одного элемента с индексом 0, что приведет к указанной ошибке при попытке вернуть значение из функции