In [46]:
import pandas as pd

Задание 1.

In [47]:
df_movies = pd.read_csv('/Users/sonyasha/pyda_homeworks/pandas_functions/ml-latest-small/movies.csv')
df_ratings = pd.read_csv('/Users/sonyasha/pyda_homeworks/pandas_functions/ml-latest-small/ratings.csv')
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [48]:
df_movies = df_movies.merge(df_ratings, how='right', on='movieId')

In [49]:
def rating_classes(row):
    """Распределение фильмов по рейтингу"""
    class_dict = {'x': 'низкий рейтинг',
                  'y': 'средний рейтинг',
                  'z': 'высокий рейтинг'}
    if row['rating'] <= 2:
        return class_dict['x']
    elif (row['rating'] > 2) & (row['rating'] <= 4):
        return class_dict['y']
    else:
        return class_dict['z']

In [50]:
df_movies['class'] = df_movies.apply(rating_classes, axis=1)

In [51]:
df_movies

,movieId,title,genres,userId,rating,timestamp,class
0,31,Dangerous Minds (1995),Drama,1,2.5,1260759144,средний рейтинг
1,31,Dangerous Minds (1995),Drama,7,3.0,851868750,средний рейтинг
2,31,Dangerous Minds (1995),Drama,31,4.0,1273541953,средний рейтинг
3,31,Dangerous Minds (1995),Drama,32,4.0,834828440,средний рейтинг
4,31,Dangerous Minds (1995),Drama,36,3.0,847057202,средний рейтинг
...,...,...,...,...,...,...,...
99999,64997,War of the Worlds (2005),Action|Sci-Fi,664,2.5,1343761859,средний рейтинг
100000,72380,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller,664,3.5,1344435977,средний рейтинг
100001,129,Pie in the Sky (1996),Comedy|Romance,665,3.0,995232528,средний рейтинг
100002,4736,Summer Catch (2001),Comedy|Drama|Romance,665,1.0,1010197684,низкий рейтинг
100003,6425,"6th Man, The (Sixth Man, The) (1997)",Comedy,668,1.0,993613478,низкий рейтинг

Задание 2.

In [52]:
keywords_df = pd.read_csv('/Users/sonyasha/pyda_homeworks/pandas_functions/ml-latest-small/keywords.csv')
keywords_df

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [72]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

city_index = {}
i=1
for city_list in geo_data.values():
    for city in city_list:
        city_index[city] = i
        i += 1
city_index

{'москва': 1,
 'тула': 2,
 'ярославль': 3,
 'петербург': 4,
 'псков': 5,
 'мурманск': 6,
 'владивосток': 7,
 'сахалин': 8,
 'хабаровск': 9}

In [76]:
def region_of_request(row):
    words = row['keyword'].split(' ')
    for word in words:
        if word.lower() in city_index.keys():
            if (city_index[word.lower()] == 1) or (city_index[word.lower()] == 2) or (city_index[word.lower()] == 3):
                return 'Центр'
            elif (city_index[word.lower()] == 4) or (city_index[word.lower()] == 5) or (city_index[word.lower()] == 6):
                return 'Северо-Запад'
            elif (city_index[word.lower()] == 7) or (city_index[word.lower()] == 8) or (city_index[word.lower()] == 9):
                return 'Дальний Восток'
    return 'undefined'

In [77]:
keywords_df['region'] = keywords_df.apply(region_of_request, axis=1)

In [83]:
keywords_df['region'].value_counts()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64