In [30]:
import pandas as pd

Задание 1.

In [31]:
df_movies = pd.read_csv('/Users/sonyasha/pyda_homeworks/pandas_functions/ml-latest-small/movies.csv')
df_ratings = pd.read_csv('/Users/sonyasha/pyda_homeworks/pandas_functions/ml-latest-small/ratings.csv')
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [32]:
df_movies = df_movies.merge(df_ratings, how='right', on='movieId')

In [35]:
def rating_classes(row):
    """Распределение фильмов по рейтингу"""
    class_dict = {'x': 'низкий рейтинг',
                  'y': 'средний рейтинг',
                  'z': 'высокий рейтинг'}
    if row['rating'] <= 2:
        return class_dict[x]
    elif (row['rating'] > 2) & (row['rating'] <= 4):
        return class_dict[y]
    else:
        return class_dict[z]

In [38]:
df_movies['class'] = df_movies.apply(rating_classes, axis=1)

NameError: name 'y' is not defined

In [37]:
df_movies

,movieId,title,genres,userId,rating,timestamp
0,31,Dangerous Minds (1995),Drama,1,2.5,1260759144
1,31,Dangerous Minds (1995),Drama,7,3.0,851868750
2,31,Dangerous Minds (1995),Drama,31,4.0,1273541953
3,31,Dangerous Minds (1995),Drama,32,4.0,834828440
4,31,Dangerous Minds (1995),Drama,36,3.0,847057202
...,...,...,...,...,...,...
99999,64997,War of the Worlds (2005),Action|Sci-Fi,664,2.5,1343761859
100000,72380,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller,664,3.5,1344435977
100001,129,Pie in the Sky (1996),Comedy|Romance,665,3.0,995232528
100002,4736,Summer Catch (2001),Comedy|Drama|Romance,665,1.0,1010197684
100003,6425,"6th Man, The (Sixth Man, The) (1997)",Comedy,668,1.0,993613478